# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.


# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~

# Ignore templates for metadata that we generate the real files from
*.md.gotmpl
*.tmpl.json
